body {
    font-family: "Martian Mono","Poppins", "Sans";
    overflow: hidden;
    position: relative;
    height: 100vh;
}



a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    background-color: transparent;
    gap: 2rem;
}

/* h1 */ 
.heading {
    font-size: 4rem;
}

/* h1 a */ 
.heading-link {
    text-decoration: none;
    color: black

}

/* navigation */

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;

}

.nav-list-1 {
    gap: 5rem;
}


.nav-list-2 {
    gap: 3rem;
}

.nav-item {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: #303261;

}



/* svgs */ 

.nav-item img {
    width: 2rem;
    height: 2rem;

}


.nav-link:hover {
    /* color: rgb(19, 19, 19); */

    background-color: #EFEA7F;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
}

.active { 
    background-color: #EFEA7F;
    padding: 0.5rem 1.5rem;
    border-radius: 10rem;
    color: black;
}


.active:hover { 
    background-color: #303261;
    color: white;
}


.main {

    background-color: white;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    height: 100%;

    padding: 0rem 10rem;

    display: flex;
    justify-content: space-between;
    align-items: start;

}

.signup-container {
    margin-top: 8rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    
}

.signup-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.signup-makeAcc {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 4rem;
    
}

.signup-haveAcc a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    cursor: pointer;
    

}

.input {
    padding: 1.8rem 2rem;
    border-radius: 2rem;
    background-color: transparent;
    border: solid 0.5px rgb(155, 155, 155);
    /* flex-basis: 40%; */

    width: 50rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}


.input:hover {
    /* background-color: rgba(227, 227, 244, 0.799); */
    border: solid 0.5px rgba(39, 1, 255, 0.939);
    color: rgba(39, 1, 255, 0.939);

}

.input:focus {
    box-shadow: rgba(136, 107, 255, 0.8) 0px 0px 0px 3px;
}


form  {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    

}

.signup-btn {
    background-color: rgb(39, 39, 42);
    color: white;
    padding: 1.7rem 6rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    align-self: stretch;
    width: 50rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    display: none;

}

.signup-btn:hover {
    background-color: black;
}




.goolge-signup-btn {
    background-color: transparent;
    color: black;
    padding: 1.7rem 6rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    align-self: stretch;
    width: 50rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    border: solid 0.5px rgba(136, 107, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.goolge-signup-btn  img {
    height: 3rem;
}

.goolge-signup-btn:hover {
    /* background-color: rgba(227, 227, 244, 0.799); */
    border: solid 0.5px rgba(17, 0, 112, 0.939);


}

.goolge-signup-btn:active {
    box-shadow: rgba(136, 107, 255, 0.8) 0px 0px 0px 3px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem; /* Adjust spacing around the divider as needed */
    color: rgb(155, 155, 155);
}

.divider:before,
.divider:after {
    content: '';
    flex: 1;
    border: solid 0.5px rgb(155, 155, 155);
}

.divider-text {
    margin: 0 10px; /* Adjust spacing around the 'or' text as needed */
}


input {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: none;
    padding: 0.5rem;
}



.img-container {
        background-color: rgb(249, 246, 253);
    background: linear-gradient(345deg, rgb(255, 240, 240) 0%, rgb(249, 246, 253));

    /* background-color: rgb(249, 246, 253); */
    width: 80rem;
    margin-right: 6rem;
    border-radius: 3rem;
    /* height: 80vh; */
    position: absolute; 
    top: 0;
    right: 0;
    height: 90%;
    margin-top: 5rem;

    padding: 4rem;
    z-index: 10;
    /* margin: 3rem; */
    
}

.img-container h1 {
    width: 90%;
    font-size: 3rem;
    position: relative;
    z-index: 10;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-80px); /* Adjust as needed */
    }
}

@keyframes float2 {
    0%, 100% {
        transform: translateY(-80px);
    }
    50% {
        transform: translateY(0); /* Adjust as needed */
    }
}


.img-container img {
    position: absolute;
    animation: float 20s ease-in-out infinite;
    /* z-index: -1; */

}

.img-1 {
    top: 40rem;
    left: 30rem;
}

.img-2 {
    top: 25rem;
    left: 30rem;
}

.img-3 {
    top: 7rem;
    left: 65rem;
    animation: float2 20s ease-in-out infinite !important;

}

.img-4 {
    bottom: 4rem;
    left: 4rem;
    animation: float2 20s ease-in-out infinite !important;

}


.img-container p {
    font-size: 1.8rem;
    width: 90%;
    margin-top: 4rem;
    z-index: 100;
    position: relative;
}

#profile-info-form {
    display: none;
    align-items: center;
    flex-direction: column;
    
    
    gap: 1rem;
}


.bio {
    height: 20rem;
}



.profile-pic-container {
    width: 120px; /* Size of the circle */
    height: 120px; /* Size of the circle */
    border-radius: 50%; /* Makes it circular */
    overflow: hidden; /* Ensures the image does not overflow */
    display: flex; /* Centers the image horizontally */
    justify-content: center; /* Aligns the image center */
    align-items: center; /* Aligns the image vertically */
    background: #f3f3f3; /* Background color when no image is selected */
    cursor: pointer; /* Indicates the element is clickable */
    border: dashed 0.5px black;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.profile-pic-container:hover {
    border: solid 0.5px blueviolet;
}


.upload-img {
    height: 2rem;
    margin-right: 0.5rem;
    color: rgb(162, 162, 162);
}

#profile-pic-preview {
    width: 100%; /* Make sure the image covers the circle */
    height: auto; /* Keep the image aspect ratio */
    display: block; /* Remove inline-block spacing */
}


 {

}


.signup-info-btn {
    background-color: rgb(39, 39, 42);
    color: white;
    padding: 1.7rem 6rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    align-self: stretch;
    width: 50rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    z-index: 1;



    /* background-color: #fff;
    box-shadow: none; */


}

.signup-info-btn:hover {
    background-color: black;
}


.submit-container {
    position: relative;
    display: inline-block;
}

/* .submit-container {
    position: relative;
    display: inline-block;
} */

.icon {
    position: relative;
   height: 3rem;
   z-index: 10;
   display: none;
}



.continue-btn {
    background-color: rgb(39, 39, 42);
    color: white;
    padding: 1.7rem 6rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    align-self: stretch;
    width: 50rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;

}

.continue-btn:hover {
    background-color: black;
}

.goto-profile {
    background-color: rgb(41, 66, 255);
    color: white;
    padding: 1.7rem 6rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    align-self: stretch;
    width: 50rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    display: none;
    justify-content: center;
    color: white;

}

.goto-profile:hover {
    background-color: black;
}


.goto-homepage {
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
    font-size: 1.2rem;
    display: none;

}



.goto-homepage:hover {
    color: black;
}

